@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Todo List</h1>

    <p>Click the button to add a todo item </p>

    <a class="btn btn-primary" asp-controller="Todo" asp-action="Add">Add</a>
</div>
